@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Quicksand&display=swap);
body{
    font-family: 'Quicksand', sans-serif;
	font-size:1em;
}
h1, h2{
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
}
h0{
	font-family: 'Quicksand', sans-serif;
	font-size: 3em;
}
#container{
	width:100%;	
	margin:auto;
	max-width: 1200px;
	min-width: 600px;
}
label {
	display : inline-block;
	width: 200px;
	vertical-align: top;
}
input[type=text] {
	width: 100%;
	padding: 1px;
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 4px;
	background-color: white;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}
input[type=text]:focus {
	background-color: white;
	border: 3px solid red;
	width: 100%;
  }
input[type=button], input[type=submit] {
	background-color: #000000;
	border: none;
	color: white;
	padding: 18px 36px;
	text-decoration: none;
	margin: 4px 2px;
  }

textarea {
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid black;
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	resize: both;
}
select {
	width: 100%;
	padding: 16px 20px;
	border: none;
	border-radius: 4px;
	background-color: lightcyan;
}
header{
	background-color:#263248;	
	border-radius:8px;
	display:flex;
	justify-content: space-between;
}

nav li a{
	text-decoration:none;	
	color:#fff;	
}
nav li a:hover{
	color:#7E8AA2;	
}
nav ul{
	padding-left:0;
	list-style:none;	
}
nav ul li{	
	display:inline;
	padding-left:10px;
	border-left:1px solid #7E8AA2;
	padding-right:10px;
	border-bottom:none;
}
nav li:first-child{
	border-left:none;	
}
#logo{
	width:660px;
}
#logo h1{
	padding:10px;	
}
#logo a{
	text-decoration:none;
	color:#fff;	
}
#content{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;

}
#quote {
	quotes: "'" "'";
}
.section{
	flex:1 1 auto;
	padding:0 10px 10px 0;
}
.resize-img{
	width:100%;
	height:100%;
}
.sidebar{
	width: 50%;
	background-color: white;
	position: relative;
	float: right;
	height: 50%;
	overflow: auto;
	left: 300px;
	text-align: left;
}
table{
	width:100%;
	max-width: 600px;
	min-width: 300px;
}
th, td{
	padding:10px 4px;
	text-align:left;	
}	
th{
	text-transform:uppercase;
	border-bottom:4px solid #000;	
	background-color:#fff;	
}
tr:nth-child(odd){
	background-color:#ccc;	
}
dt{
	font-weight:bold;
	border-top:1px dashed #ccc;	
	padding:20px 0;	
}
dt:first-child{
	border-top:none;
}
.standard-flex {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
}
dd{
	padding:0 0 20px 0;
}
footer{
	box-shadow: 4px 4px 4px #555555;
	text-shadow: -1px -1px #fff, 1px 1px #333333;
	border-top:1px solid #ccc;
	margin:20px 10px 10px 0;
	clear:both;	
	font-size:0.8em;
	text-align:center;
	font-style:italic;
}
.slides {width:100%;height: 100%; padding-bottom:50%; overflow:hidden; position: relative;}
.slides img{ position:absolute; animation:slides 20s infinite; opacity:0; width:100%; height:auto;}
@keyframes slides {25%{opacity:1;} 40%{opacity:0;}} 
.slides img:nth-child(4){animation-delay:0s;}
.slides img:nth-child(3){animation-delay:5s;}
.slides img:nth-child(2){animation-delay:10s;}
.slides img:nth-child(1){animation-delay: 15s;}


